@model ITWorks_Application.ViewModels.FAQDeviceCategoryViewModel
@{
    ViewData["Title"] = "Device Category";
}

<div class="devicecategory screen">

    @if (@Model.DeviceCategoryModels.Count == 0)
    {
        <text>Somewhere over the random, something went horribly wrong</text>
    }
    else
    {
        for (int i = 0; i < Model.DeviceCategoryModels.Count; i++)
        {
            <a style="all:unset" href="@Url.ActionLink("BrandCategory", "BrandCategory", new { DeviceID = @Model.DeviceCategoryModels[i].FAQDeviceCategoryID} )">
                <img class="@Model.DeviceCategoryModels[i].FAQDeviceCategoryIMGCSS" src="@Model.DeviceCategoryModels[i].FAQDeviceCategoryImage" />
                <div class="@Model.DeviceCategoryModels[i].FAQDeviceCategoryTXTCSS">@Model.DeviceCategoryModels[i].FAQDeviceCategoryName</div>
            </a>
        }
    }

    <div class="what-type-of-device-to-fix">What type of device to fix?</div>
    <div class="or-search-other-topics">Or search other topics</div>
    <div class="search-bar">
        <div class="search-bar-content">
            <div class="search-bar-border"></div>
            <img class="search-img" src="~/img/search.svg" alt="24 / basic / search" />
            <div class="search-text inter-normal-sonic-silver-24px">Search Topics</div>
        </div>
    </div>
    <div class="back-button">
        <div class="back-button-content" onclick="history.back()">
            <img class="back-button-icon" src="~/img/back-button-1.svg" alt="Back Button" />
            <div class="back-text">Back</div>
        </div>
    </div>
</div>